@model PharmacyProject.VewModels.PharmacyDetailsViewModel

<h2>@Model.Name</h2>

<p><strong>Location:</strong> @Model.Location</p>

<h3>Has medicines: </h3>

@if (Model.Medicines.Any())
{
    <ul class="list-group">
        @foreach(var medicine in Model.Medicines)
        {
            <li class="list-group-item">
                <strong>@medicine.Name</strong> <br />
            </li>
            @if (User?.Identity?.Name == "admin@gmail.com" || User?.Identity?.IsAuthenticated == true && medicine.IsPublisher)
            {
                <form asp-controller="Pharmacy" asp-action="RemoveFromDetails" method="post">
                    <input type="hidden" name="id" value="@medicine.Id" />
                    <input type="hidden" name="PharmacyId" value="@medicine.PharmacyId" />
                    <button type="submit" class="btn btn-success w-100">Remove</button>
                </form>
            }
        }
    </ul>
}
else
{
    <p>No medicine in this pharmacy</p>
}

<a asp-action="Index" class="btn btn-secondary mt-3">Back to all pharmacies</a>